mat-sidenav-container {
  height: 100%;
  margin: 0 auto;

  mat-sidenav {
    width: fit-content;
    max-width: 24rem;
    height: 100%;

    mat-tree {
      mat-tree-node {
        .node {
          flex-grow: 1;
          justify-content: flex-start;
        }
      }
    }
  }

  mat-sidenav-content {
    height: 100%;
    padding: 0 1rem 1rem;
  }
}
