<div style="display: grid; grid-template-columns: 1fr auto; gap: 1rem">
  <psk-content></psk-content>
  <mat-card>
    <mat-card-actions style="flex-direction: column; gap: 0.5rem">
      <section style="display: flex; justify-content: space-around; width: 100%">
        <button class="primary" matIconButton routerLink="edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button matIconButton class="error" (click)="openDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </section>
      <button [queryParams]="{ parentId: content()?.parentId }" matButton routerLink="../">
        <mat-icon>add</mat-icon>
        Соседний раздел
      </button>
      <button [queryParams]="{ parentId: content()?.id }" matButton routerLink="../">
        <mat-icon>add</mat-icon>
        Подраздел
      </button>
    </mat-card-actions>
  </mat-card>
</div>
