<div class="control">
  <button class="secondary" matFab extended routerLink="categories">
    <mat-icon>settings</mat-icon>
    Категории
  </button>
  <button class="secondary" matFab extended routerLink="edit">
    <mat-icon>settings</mat-icon>
    Вопросы
  </button>
  <span style="flex: 1"></span>
  <button matFab extended>
    <mat-icon>add</mat-icon>
    Создать тест
  </button>
</div>
<br>
<div class="content">
  <psk-card-test></psk-card-test>
  <psk-card-test></psk-card-test>
  <psk-card-test></psk-card-test>
  <psk-card-test></psk-card-test>
  <psk-card-test></psk-card-test>
</div>
