<mat-card>
  @if (data(); as data) {
    <mat-card-header>
      <mat-card-title>
        <markdown
          [data]="'<h2>' + safeTitle() + '</h2>'"
          emoji>
        </markdown>
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <markdown
        [data]="safeContent()"
        clipboard
        emoji>
      </markdown>
    </mat-card-content>
  } @else {
    <mat-card-content>
      <mat-spinner></mat-spinner>
    </mat-card-content>
  }
</mat-card>
