.logo-image {
  width: 70px;
  height: 80px;
  background-color: var(--p-text-color);
  -webkit-mask: url('/layout/images/logo.svg') no-repeat center;
  mask: url('/layout/images/logo.svg') no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

