<p-drawer
  [visible]="sidebarService.isOpened()!"
  [modal]="false"
  [closable]="false"
  position="left"
  styleClass="w-7rem"
  [pt]="{
    root: { class: 'border-none gap-6' },
    header: { class: 'flex flex-column align-items-center p-0 pt-4 gap-4' },
    footer: { class: 'flex flex-column align-items-center' }
  }">
  <ng-template #header>
    @if (!this.sidebarService.isLargeScreen()) {
      <p-button
        [icon]="PrimeIcons.TIMES"
        [text]="true"
        [rounded]="true"
        (click)="sidebarService.toggle()"
        styleClass="-mt-3"
      />
  }
  <a href="/"><div class="logo-image"></div></a>
  </ng-template>

  <psk-menu></psk-menu>

  <ng-template #footer>
    <a href="#">
      <i [class]="PrimeIcons.SIGN_OUT" class="text-2xl mb-2"></i>
    </a>
  </ng-template>
</p-drawer>

