/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /* Запрет авто-масштабирования текста в Safari */
  text-size-adjust: none;
  scroll-behavior: smooth;

  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Делаем шрифты более четкими в macOS/iOS */
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--p-text-muted-color);
}
a:hover {
  color: var(--p-text-color);
}
