@use '@angular/material' as mat;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
));

:root {
  @include mat.sidenav-overrides((
    container-shape: 0
  ));
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  @include mat.all-component-themes($light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-themes($dark-theme);
  }

  color-scheme: light dark;
  -webkit-text-size-adjust: none; /* Запрет авто-масштабирования текста в Safari */
  text-size-adjust: none;
  scroll-behavior: smooth;

  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; /* Делаем шрифты более четкими в macOS/iOS */
  text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
